name: Keep Render Awake

on:
  schedule:
    - cron: '*/5 * * * *'   # runs every 5 minutes (UTC)
  workflow_dispatch:        # allows manual run button

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render Service
        run: |
          echo "Pinging Render..."
          curl -I https://n8n-nlgtan.onrender.com
