name: Keep Render Awake

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Retry Curl
        run: |
          for i in {1..3}; do
            echo "Attempt $i"
            curl -I https://n8n-nlgtan.onrender.com && break
            sleep 10
          done
